<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GPA Calculator.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>24CAECE9F50F7A45268BEA3E29AE6696CB8012AB</string>
				<key>dateExpires</key>
				<string>2021/11/12</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9K2XM38XLK.com.michelguo.gpacalc</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9K2XM38XLK</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>9K2XM38XLK.com.michelguo.gpacalc</string>
				</array>
			</dict>
			<key>name</key>
			<string>GPA Calculator.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d6866232-1d6c-4473-8e74-667ad1a9e92c</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.michelguo.gpacalc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9K2XM38XLK</string>
				<key>name</key>
				<string>Jiun-Ting Guo</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
